@import url(fonts\font\stylesheet.css);

/* Reset some default margin and padding for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body{
    height: 100vw;
    width: 100vw;
    font-family: 'inria_sansregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

#background{
    background-image: url('assets/images/nasa-Yj1M5riCKk4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Style the header and navigation, i spent longer time on this part than needed, i just kept running into error and the stuff not working
finally made it to work lol */
header {
    position: sticky;
    width: 100vw;
    overflow-y: hidden;
}

nav {
    display:flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    width: 100vw;
}

.logo {
    width: 140px;
}

#menu ul {
    list-style: none;
    display: flex;
    padding: 10px;
}

#menu ul li {
    margin-right:20px;
}

#menu ul li:last-child {
    margin-right: 30vw;
}

#menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
}

.centered-column { /*column in the middle of the browser*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: relative;
    margin-top: 50px;
    z-index: -1;
    width: 100vw;
    font-family: 'inria_sansregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.centered-div, .centered-div2, .centered-div3, .centered-div5 { /*centered column/div to add content*/
    padding:10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 50%;
    font-family: 'inria_sansregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.centered-div2, .centered-div4 { /*centered column/div to add content(an attempt to fix some bugs i ran into)*/
    padding-top:10vw;
    padding-bottom:6vw;
    font-weight: bolder;
}

#background-color, #background-color2{
    background-color: none;
}

.centered-div img { /*this is for the images onto the centered column*/
    max-width:100%;
    border-radius:8px;
}

.text-background, .title-padding, .image-text{/*this is for background around the text*/
    background-color: #D9D9D9;
    border-radius:7px;
}

.text-lines, .text-background{/*line height for the text*/
    line-height: 2vw;
}

.centered-div h1 { /*font size for h1*/
    font-size:2em; 
}

.centered-div p {/*font size for <p>*/
    font-size:1.2em; 
}

.centered-div4 h1{
    font-size: 2.5em;
}

.centered-div3, .centered-div5{
    font-size: 1.5em;
}

.centered-div3, .centered-div5 {
    text-align: left;
    width: 500px;
}

.centered-div3 h3, .centered-div3 p {
    display: block;
    margin: 0;
}

.centered-div5 {
    display: flex;
    justify-content: space-between;
}

.centered-div{
    min-width: 75%;
}

.left-box, .right-box {
    flex: 1;
    padding: 0 10px;
}

.right-box{/*added this so the text for openings hours get displayed right*/
    width: 200px;
    min-width: 200px;
}

.centered-div button {/*button styles */
    padding: 10px 20px;
    font-size: 1.2em;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}

.centered-div button, #menu a, #menu-btn-label{/*the color setting list*/
    background-color: #22333B;
}

.centered-div, header, nav{
    background-color: #508484;
}

.centered-div button:hover, #menu a:hover  {
    background-color: #344E5B;
}

.centered-div button, .centered-div2, #menu-btn-label, #menu a, header{
    color: #fff;  
}

body{
    background-color: #fff;
}

.centered-div3, .centered-div4{
    color: #000;
}

.title-padding{ /*padding for the Facility and explore title*/
    padding: 20px;
    padding-left: 15vw;/*this is to make the width of the facility and explore title to go full side to have same width as the rest*/
    padding-right: 15vw;
}

.image-container {/*image container for text in picture for index.html*/
    position:relative;
}

.image-container1 {/*image container for first picture in contribution.html*/
    position:relative;
}

.image-text {/*text for inside of image*/
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

.image-title {
    position: absolute;
    top:80%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    background-color: #fff;
    padding: 2vw;
    border-radius: 10px;
}

.image-text h2 {/*font size for h2 inside picture*/
    font-size:2.3vw;
    margin-bottom:10px;
}

.image-text p {/*font size for p inside picture*/
    font-size:1.2vw;
}

#menu-btn {
    display: none;
}

#menu-btn-label{
    display: none;
}

/*note: i made this 3 times over to try to make the font size fit more perfectly but i dont know if this is worth it at this point*/

@media screen and (max-width: 1120px) {/*picked this px width cuz of the buttons, if they get to 1118px width then they act lil weird, for safety measures*/
    .image-text h2, .centered-div h1, .image-title h1{/*this is font size for h2 and h1*/
        font-size:3vw;
    }

    .centered-div2, .centered-div4{/*repositioning the title*/
        padding-top:20vw;
        padding-bottom:6vw;
    }

    .image-text p, .centered-div p, .centered-div3 p, .centered-div3 li{/*this is font size for p and li*/
        font-size:2vw;
    } 

    .centered-div3{
        font-size: 2vw;
    }

    .centered-div4, .image-title{
        font-size: 2vw;
    }

    nav {
        padding: 20px 10%;
    }

    #menu ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: none;
    }
    
    #menu-btn {
        display: none;
    }
    
    #menu-btn-label {
        display: block;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border-radius: 7px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    #menu-btn:checked ~ #menu ul {
        display: flex;
        position:absolute;
        top: 90%;
        left: 65px;
        width: 100%;
    }

    #menu-btn:checked ~ #menu li {
        background-color: #508484;
        padding: 0px 10px;
        width: 150px;
    }

    #menu a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border-radius: 7px;
        margin: 10px 0;
    }

}

@media screen and (max-width: 1200px) {
    .image-text h2, .centered-div h1 {/*this is font size for h2 and h1*/
        font-size:3vw;
        line-height: 2vw;
    }

    .image-text p, .centered-div p, .centered-div5 p, .text-lines{/*this is font size for p*/
        font-size:2.5vw;
        line-height: 2.5vw;
    }   

    .text-background{
        width: fit-content;
        height: fit-content;
    }
}
